body {
    background-color: rgb(86, 93, 55);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

table {
    margin: auto;
    border: 1px solid white;
    background-color: blanchedalmond;
}

td {
    font-size: large;
    background-color: rgb(27, 27, 27);
    border: 1px solid rgb(0, 255, 17);
    padding: 5px;
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
}

td button {
    width: 40px;
    height: 40px;
    background-color: gray;
}

td :hover {
    background-color: rgb(58, 89, 79);
}

.cell {
    color: rgb(160, 61, 149);
}

.flag {
    background-color: black;
}

.timer {
    margin: 10px;
}

.lives {
    margin: 10px;
    font-size: large;
}

.smili {
    background-color: rgba(129, 79, 79, 0);
    font-size: 50px;
    border-radius: 25%;
}

.hints {
    width: 300px;
    height: 30px;
    margin: auto;
    padding-top: 15px;
}

.is-safe {
    background-color: deeppink;
}

:hover {
    cursor: pointer;
}

.fotter {
    color: brown;
}